body {
    background-color: brown;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative
}
h1 {
    text-align: center;
    color: goldenrod;
    font-family: Helvetica;
    font-size: 50px
}
.gameboard {
    background-color: green;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.dealerSide {
    margin: 40px 0 0 0;
    height: 230px;
}
.dealerHand {
    height: 150px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}
h2 {
    font-family: Helvetica;
    color: goldenrod
}
.betting {
    padding: 0 20px;
    float: left;
    font-family: Helvetica;
    color: goldenrod
}
.dealerName {
    text-align: right;
    padding: 0 400px 20px 10px;
    margin: 0;
    color: green
}
.playerSide {
    height: 230px;
    margin: 0 0 40px 0;
    position: relative;
}
.playerName {
    margin: 0 0 20px 200px;
    color: green
}
.playerHand {
    height: 150px;
    width: 80%;
    margin: 0 auto
}
h4 {
    padding: 0;
    margin: 0 40px;
    font-family: Helvetica;
    color: goldenrod;
    position: absolute;
    bottom: 0
}
.card {
    height: 100%;
    margin: 0 20px;
    animation-duration: 300ms;
    animation-timing-function: linear;
}
.deck {
    box-shadow: 4px 1px 12px 0 rgba(0, 0, 0, 0.7); 
    margin: 0 20px 0 90px
}
.buttons {
    position: absolute;
    left: 43%;
    bottom: 0;
    z-index: 1
}
button {
    font-size: 22px;
    background-color: brown;
    color: goldenrod
}
button:hover {
    cursor: pointer;
    background-color: maroon
}
.log {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 100px;
    font-family: Helvetica;
    color: goldenrod;
    font-size: 28px
}
.betAmt {
    font-size: 22px;
    width: 90px;
}
.welcome {
    width: 500px;
    background-color: rgb(0, 0, 0);
    color: goldenrod;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    left: 400px;
    top: 140px;
    padding: 50px;
    font-family: Helvetica
}
.welcome h2 {
    text-align: center;
}
.broke {
    width: 500px;
    background-color: rgb(0, 0, 0);
    color: goldenrod;
    z-index: 1;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: space-between;
    left: 400px;
    top: 140px;
    padding: 50px;
    font-family: Helvetica
}
.broke h2 {
    text-align: center;
}

@keyframes playerCard1 {
    0% {
        transform: translateX(43vw) translateY(-270px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes playerCard2 {
    0% {
        transform: translateX(33.33vw) translateY(-270px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes playerCard3 {
    0% {
        transform: translateX(341.890625px) translateY(-270px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes playerCard4 {
    0% {
        transform: translateX(203.75px) translateY(-270px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes playerCard5 {
    0% {
        transform: translateX(65.609375px) translateY(-270px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes dealerCard1 {
    0% {
        transform: translateX(14.44vw);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes dealerCard2 {
    0% {
        transform: translateX(24.04vw);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes dealerCard3 {
    0% {
        transform: translateX(484.421875px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes dealerCard4 {
    0% {
        transform: translateX(622.5625px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes dealerCard5 {
    0% {
        transform: translateX(760.703125xpx);
    }
    100% {
        transform: translateX(0);
    }
}