body {
    background-color: brown;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    color: goldenrod;
    font-family: Helvetica;
    font-size: 50px
}
.gameboard {
    background-color: green;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.dealerSide {
    margin: 40px 0 0 0;
    height: 230px;
}
.dealerHand {
    height: 150px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}
h2 {
    font-family: Helvetica;
    color: goldenrod
}
.dealerName {
    text-align: right;
    padding: 0 400px 20px 10px;
    margin: 0;
}
.playerSide {
    height: 230px;
    margin: 0 0 40px 0;
    position: relative;
}
.playerName {
    margin: 0 0 20px 200px;
}
.playerHand {
    height: 150px;
    width: 80%;
    margin: 0 auto
}
h4 {
    padding: 0;
    margin: 0 40px;
    font-family: Helvetica;
    color: goldenrod;
    position: absolute;
    bottom: 0
}
.card {
    height: 100%;
    margin: 0 20px
}
.deck {
    box-shadow: 4px 1px 12px 0 rgba(0, 0, 0, 0.7); 
    margin: 0 20px 0 90px
}
.buttons {
    position: absolute;
    left: 43%;
    bottom: 0
}
button {
    font-size: 22px;
    background-color: brown;
    color: goldenrod
}
button:hover {
    cursor: pointer;
    background-color: maroon
}
.log {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 100px;
    font-family: Helvetica;
    color: goldenrod;
    font-size: 22px
}